@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* https://tailwindcss.com/blog/tailwindcss-v4#css-first-configuration */
@theme {

  @keyframes spin-reverse {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
  }

}


.dark {
  color-scheme: dark;
  scrollbar-color: hsla(0, 0%, 100%, 0.4) hsla(0, 0%, 100%, 0.029);
}

@layer base {
  html {
    @apply transition-colors duration-200;
  }

  /* setting in theme.ts
  body {
    @apply !bg-gray-50 !text-gray-700 dark:!bg-slate-800 dark:!text-zinc-400;
  }
  */

  h1 {
    font-size: var(--text-2xl);
    font-weight: 500; 
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: 500; 
  }
  h3 {
    font-size: var(--text-lg);
    font-weight: 500; 
  }
  h4 {
    font-size: var(--text-base);
    font-weight: 500; 
  }

  * {
    @apply border-gray-200 dark:border-gray-700 divide-gray-200 dark:divide-gray-700;
  }

}


@layer components {
  .icon {
    @apply w-4 h-4;
  }

  .page {
    @apply max-w-3xl xl:max-w-4xl mx-auto flex justify-center gap-2 p-1;
  }

  .container {
    @apply lg:min-w-2xl;
  }

  .list {
    @apply flex flex-col rounded border divide-y;
  }
  .litem {
    @apply p-1 flex justify-between gap-1 first:rounded-t last:rounded-b hover:dark:bg-slate-700 hover:bg-slate-200;
  }

  .circled {
    @apply rounded border;
  }
  
  .marked {
    h1, h2 {
      @apply leading-10;
    }

    h3, h4 {
      @apply leading-8;
    }

    p {
      @apply leading-6;
    }

    a {
      @apply text-teal-700 hover:underline px-px;
    }

    ul {
      @apply list-disc ps-8;
    }
    ol {
      @apply list-decimal ps-8;
    }
    li:has(> input[type="checkbox"]) {
      @apply list-none ps-0;
    }
    :is(dir, menu, ol, ul) ul {
      @apply list-[circle] ps-4;
    }
    :is(dir, menu, ol, ul) ol {
      @apply ps-4;
    }


    pre {
      @apply block p-2 my-2 rounded-md overflow-auto bg-gray-200 dark:bg-gray-700;
    }
    code {
      @apply rounded overflow-auto;
    }

    hr {
      @apply my-4;
    }

    table {
      @apply w-full border-collapse border border-gray-200;
    }

    th, td {
      @apply p-3 text-left border border-gray-200;
    }

    th {
      @apply bg-gray-100 font-semibold text-gray-700;
    }

    tr:hover {
      @apply bg-gray-50;
    }
  }
}

